set timeout=0
set default=0

menuentry "USB Rescue Toolkit" {
	linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage quiet
	initrd /boot/intel-ucode.img /boot/amd-ucode.img /boot/initramfs-lts
}
